@model TrailerCheckV1.Models.Trailer

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Trailer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductGroup)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductGroup)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SerialNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SerialNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Stolen)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Stolen)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.YearOfManufacture)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.YearOfManufacture)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
